
@media (max-width: 768px) {
  .btn-responsive{
    padding-bottom: 25px ;
  }
  #row-left-presentation-event{
    padding-bottom: 30px;
    border-right: 0px solid black;
  }
  .btn-lg-footer {
    padding: 12px 100px;
    font-size: 14px;
}
.font-size-footer{

    }
#audioplayer{
      margin : 20px auto auto !important;
    }
    .btn-week{

    }
}

@media (max-width: 576px) {
  i {
    font: normal 65px/ 50px 'cocogoose-pro', Helvetica, Arial !important;
    color: #EEDDE0;
    text-shadow: 0 0 30px #EC637B,
      0 0 10px rgba(230, 161, 173, 0.41),
      0 0 100px #E6A1AD,
      0 0 500px #F36780,
      5px 9px 5px rgba(0, 0, 0, 0.5);
  }

  i.off {
    color: rgba(46, 46, 46, 0.61);
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
  }
  .btn-lg-footer {
    padding: 12px 75px;
    font-size: 13px;
}
.display{
  display:none;
}
iframe{
  width: 100%;
}
}
